@charset "utf-8";

#map {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popular-ranking {
    padding-left: 20px;
}
.popular-ranking li {
    margin-bottom: 12px;
}
.popular-ranking .spot-name {
    font-size: 1.6em;
    font-weight: bold;
}

.stamp {
  display: flex;
}
.stamp .stamp_text {
  margin: 0 0 0 20px;
  padding: 0;
}
.stamp .stamp_title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}
.stamp .stamp_description {
  margin: 10px 0 0;
  padding: 0;
}