{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'css/add_stamp_pin.css' %}">
<style>
  #map { height: 90vh; width: 100%; }
  .header { display:flex; justify-content:space-between; align-items:center; padding:10px; }
  .icons img { width:30px; margin-left:10px; cursor:pointer; }
</style>
{% endblock head %}

{% block title %}
  <h2>全体マップ</h2>
{% endblock title %}

{% block content %}
<div id="map"></div>

<div class="stamp-card">
  <h2>スタンプの追加</h2>

  {% if form.errors %}
    {% for key, errors in form.errors.items %}
      {% for error in errors %}
        <p class="error-text">{{ error }}</p>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="name">スタンプ名:</label>
    {{ form.name }}

    <label for="latitude">緯度:</label>
    {{ form.latitude }}

    <label for="longitude">経度:</label>
    {{ form.longitude }}

    <label for="stamp_image">スタンプ画像:</label>
    {{ form.stamp_image }}

    <button type="submit">追加</button>
  </form>

  <a href="{% url 'home' %}" class="home-link">ホームへ戻る</a>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script>
// マップ作成
let map = L.map('map').setView([42.316, 140.99], 13);

// タイル
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; OpenStreetMap contributors'
}).addTo(map);

// スタンプのピンを追加
{% for s in stamps %}
    L.marker([{{ s.latitude }}, {{ s.longitude }}]).addTo(map)
      .bindPopup("<b>{{ s.name }}</b>");
{% endfor %}
</script>
{% endblock script %}