{% extends "base.html" %}
{% load static %}

{% block title %}
  <h1>スタンプの追加</h1>
{% endblock title %}

{% block content %}
  {% if form.errors %}
    {% for key, errors in form.errors.items %}
      {% for error in errors %}
        <p><font color="red">{{ error }}</font></p>
      {% endfor %}
    {% endfor %}
  {% endif %}
  
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
      <label for="name">スタンプ名:</label>
      {{ form.name }}
    </p>
    <p>
      <label for="latitude">緯度:</label>
      {{ form.latitude }}
    </p>
    <p>
      <label for="longitude">経度:</label>
      {{ form.longitude }}
    </p>
    <p>
      <label for="stamp_image">スタンプ画像:</label>
      {{ form.stamp_image }}
    </p>
    <button type="submit">追加</button>
  </form>
{% endblock content %}

{% block redirect %}
  <div><a href="{% url 'home' %}">ホーム</a></div>
{% endblock redirect %}