{% extends "base.html" %} 
{% load static %} 

{% block title %} 
<h1>スタンプ獲得通知</h1> 
{% endblock title %} 

{% block content %} 
<div class="stamp_get_container"> 
  {% if error %} 
     <p><font color="red">{{ error }}</font></p> 
  {% endif %} 
  
  {% if message %} 
     <p>{{ message }}</p> 
  {% endif %} 
  
  <div class="stamp_get_image_wrapper"> 
    <canvas id="canvas_{{ stamp.id }}" width="300" height="300"></canvas> 
  </div> 
  
  <h2 class="get_stamp_title">「{{ stamp.name }}」を取得しました！</h2> 
  
  <div class="back_link_wrapper"> 
    <a href="{% url 'detail' stamp.id %}" class="back_link">スタンプの詳細画面に戻る</a> 
  </div> 
</div> 

{% endblock content %} 

