{% extends "base.html" %}
{% load static %}

{% block title %}
  <h1>ホーム</h1>
  <h2>
    {% if user.is_authenticated %}
      {{ user.username }} さん，ようこそ!
    {% else %}
      <font color="red">ログインしていません.</font>
    {% endif %}
  </h2>
{% endblock title %}

{% block content %}

<hr>

<h3>人気スポット上位3件</h3>
<ol class="popular-ranking">
  {% for stamp in popular_stamps %}
    <li>
      <a href="{% url 'stamp_detail' stamp %}">{{ stamp }}</a>
      <span class="spot-name">{{ stamp }}</span>
      （獲得人数: {{ stamp.users.count }}）
    </li>
  {% empty %}
    <p>データがありません。</p>
  {% endfor %}
</ol>

<br><br>

<div style="display:flex; justify-content:center; gap:80px;">
  <a href="{% url 'stamp_list' %}">
    <img src="{% static 'img/stamp_icon.png' %}" width="120">
    <div>スタンプ一覧</div>
  </a>
  <a href="{% url 'map' %}">
    <img src="{% static 'img/map_icon.png' %}" width="160">
    <div>全体マップ</div>
  </a>
</div>

{% endblock content %}

{% block redirect %}
  {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button>ログアウト</button>
    </form>
    <div><a href="{% url 'mypage' %}">マイページ</a></div>
    <div><a href="{% url 'add_stamp_pin' %}">マップピンを追加</a></div>
  {% else %}
    <div><a href="{% url 'login' %}">ログイン</a></div>
    <div><a href="{% url 'register' %}">アカウント作成</a></div>
  {% endif %}

  <!-- FOR DEBUG -->
  <h2>[DEBUG REDIRECTS]</h2>
  <div><a href="admin/">admin</a></div>
  <div><a href="test_js">test_js</a></div>
  <div><a href="get_stamp">get_stamp</a></div>
  <div><a href="stamp_list">stamp_list</a></div>
  <div><a href="map">map_view</a></div>
  <!-- FOR DEBUG -->

{% endblock redirect %}