{% extends "base.html" %}
{% load static %}

{% block title %}
  <h1>ホーム</h1>
  <h2>
    {% if user.is_authenticated %}
      {{ user.username }} さん，ようこそ!
    {% else %}
      <font color="red">ログインしていません.</font>
    {% endif %}
  </h2>
{% endblock title %}

{% block content %}


<div class="bg-image"></div>

<style>
  .bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("{% static 'img/top1.jpg' %}");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }

  .content-box {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 12px;
  }
</style>

<div class="content-box">


<hr>

<h3>人気スポット上位3件</h3>
<ol class="popular-ranking">
  {% for popular_stamp in popular_stamps %}
    <li>
      <a href="{% url 'stamp_detail' popular_stamp %}">{{ popular_stamp }}</a>
      <span class="spot-name">{{ popular_stamp }}</span>
      （獲得人数: {{ popular_stamp.users.count }}）
    </li>
  {% empty %}
    <p>データがありません。</p>
  {% endfor %}
</ol>

<br><br>


</div>
{% endblock content %}

{% block redirect %}
  {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button>ログアウト</button>
    </form>
    <div><a href="{% url 'mypage' %}">マイページ</a></div>
    <div><a href="{% url 'add_stamp_pin' %}">マップピンを追加</a></div>
  {% else %}
    <div><a href="{% url 'login' %}">ログイン</a></div>
    <div><a href="{% url 'register' %}">アカウント作成</a></div>
  {% endif %}
{% endblock redirect %}