{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/stamp_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/bingo.css' %}">
  <script src='{% static "js/draw.js" %}'></script>
{% endblock head %}

{% block title %}
  <h1>スタンプ獲得判定</h1>
{% endblock title %}

{% block content %}
<div class="detail-container">
  {% if stamp %}
    <div class="detail-image">
      <img src="{{ stamp.stamp_image.url }}" alt="{{ stamp }}">
    </div>
    <h2 class="detail-title">{{ stamp }}</h2>
  {% endif %}
  {% for message in messages %}
    <p class="detail-description">{{ message }}</p>
  {% endfor %}
  {% if target_num %}
    <p>ビンゴナンバーを獲得しました: {{ target_num }}</p>
  {% endif %}
  <div container-bingo>
    <table id="bingo" cellspacing="10">
      <tbody>
        <tr>
          <th>B</th>
          <th>I</th>
          <th>N</th>
          <th>G</th>
          <th>O</th>
        </tr>
        <tr>
          <td id="bi0" {% if bingo.0 %}class="check"{% endif %}>0</td>
          <td id="bi1" {% if bingo.1 %}class="check"{% endif %}>1</td>
          <td id="bi2" {% if bingo.2 %}class="check"{% endif %}>2</td>
          <td id="bi3" {% if bingo.3 %}class="check"{% endif %}>3</td>
          <td id="bi4" {% if bingo.4 %}class="check"{% endif %}>4</td>
        </tr>
        <tr>
          <td id="bi5" {% if bingo.5 %}class="check"{% endif %}>5</td>
          <td id="bi6" {% if bingo.6 %}class="check"{% endif %}>6</td>
          <td id="bi7" {% if bingo.7 %}class="check"{% endif %}>7</td>
          <td id="bi8" {% if bingo.8 %}class="check"{% endif %}>8</td>
          <td id="bi9" {% if bingo.9 %}class="check"{% endif %}>9</td>
        </tr>
        <tr>
          <td id="bi10" {% if bingo.10 %}class="check"{% endif %}>10</td>
          <td id="bi11" {% if bingo.11 %}class="check"{% endif %}>11</td>
          <td id="bi12" {% if bingo.12 %}class="check"{% endif %}>12</td>
          <td id="bi13" {% if bingo.13 %}class="check"{% endif %}>13</td>
          <td id="bi14" {% if bingo.14 %}class="check"{% endif %}>14</td>
        </tr>
        <tr>
          <td id="bi15" {% if bingo.15 %}class="check"{% endif %}>15</td>
          <td id="bi16" {% if bingo.16 %}class="check"{% endif %}>16</td>
          <td id="bi17" {% if bingo.17 %}class="check"{% endif %}>17</td>
          <td id="bi18" {% if bingo.18 %}class="check"{% endif %}>18</td>
          <td id="bi19" {% if bingo.19 %}class="check"{% endif %}>19</td>
        </tr>
        <tr>
          <td id="bi20" {% if bingo.20 %}class="check"{% endif %}>20</td>
          <td id="bi21" {% if bingo.21 %}class="check"{% endif %}>21</td>
          <td id="bi22" {% if bingo.22 %}class="check"{% endif %}>22</td>
          <td id="bi23" {% if bingo.23 %}class="check"{% endif %}>23</td>
          <td id="bi24" {% if bingo.24 %}class="check"{% endif %}>24</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
  {% if stamp %}
    draw_image({{ stamp.id }}, "{{ stamp.stamp_image.url }}")
  {% endif %}
</script>
{% endblock script %}

{% block redirect %}
  <div><a href="{% url 'stamp_list' %}">スタンプ一覧</a></div>
{% endblock redirect %}