{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<style>
  #map { height: 90vh; width: 100%; }
  .header { display:flex; justify-content:space-between; align-items:center; padding:10px; }
  .icons img { width:30px; margin-left:10px; cursor:pointer; }
</style>
{% endblock head %}

{% block title %}
<div class="header">
  <h2>全体マップ</h2>
</div>
{% endblock title %}

{% block content %}
<div id="map"></div>
{% endblock content %}

{% block script %}
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script>
// マップ作成
let map = L.map('map').setView([42.316, 140.99], 13);

// タイル
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; OpenStreetMap contributors'
}).addTo(map);

// スタンプのピンを追加し、詳細ページに遷移するための処理(12/9追加)
{% for stamp in stamps %}
    // マーカー作成
    let marker = L.marker([{{ stamp.latitude }}, {{ stamp.longitude }}]).addTo(map);

    // クリックで詳細ページに移動
    marker.on("click", function() {
        window.location.href = "{% url 'stamp_detail' stamp_id=stamp.id %}";
    });

    // ふきだし（クリック不要）
    marker.bindPopup("<b>{{ stamp.name }}</b>");
{% endfor %}
</script>
{% endblock script %}