{% extends "base.html" %}
{% load static %}

{% block title %}
<h1>マイページ</h1>
{% endblock title %}

{% block content %}

<h2>獲得スタンプ一覧</h2>

<div style="display: flex; flex-wrap: wrap; gap: 30px;">

  {% for own_stamp in own_stamps %}
  <div style="width: 150px; text-align: center;">
      <img src="{{ own_stamp.stamp_image.url }}" 
           style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover;">
      <p>{{ own_stamp.name }}</p>
  </div>
  {% empty %}
  <p>まだスタンプを獲得していません。</p>
  {% endfor %}

</div>

{% endblock content %}

{% block redirect %}
<div><a href="{% url 'home' %}">ホームへ戻る</a></div>
<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button>ログアウト</button>
</form>
{% endblock redirect %}
