{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src='{% static "js/draw.js" %}'></script>
  <!-- Leaflet -->
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="{% static 'css/stamp_detail.css' %}">
{% endblock head %}

{% block content %}
<div class="detail-container">
  {% comment %} スタンプ獲得済み {% endcomment %}
  
  <div class="detail-map-wrapper">
    <div id="detail-map"
    style="width:100%; height:300px;"></div>
  </div>

  {% if own_stamp %}
    <div class="detail-image">
      <img src="{{ own_stamp.stamp_image.url }}" alt="{{ own_stamp }}">
    </div>
    <h2 class="detail-title">{{ own_stamp }}</h2>
    <p class="detail-description">
      {{ own_stamp.description|default:"このスポットに関する説明が入ります。" }}
    </p>

  {% comment %} スタンプ未獲得 {% endcomment %}
  {% elif unknown_stamp %}
    <form method="POST" action='{% url "judge" %}' enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="upload_image" accept="image/png, image/jpeg, image/jpg" required>
      <input type="hidden" name="stamp" value="{{ unknown_stamp }}">
      <button type="submit">スタンプを獲得する!</button>
    </form>

    <div class="detail-image">
      <canvas id="canvas_{{ unknown_stamp.id }}"></canvas>
    </div>
    <h2 class="detail-title">{{ unknown_stamp }}</h2>
    <p class="detail-description">
      {{ unknown_stamp.description|default:"このスポットに関する説明が入ります。" }}
    </p>

  {% endif %}

</div>
{% endblock content %}

{% block redirect %}
 <div><a href="{% url 'stamp_list' %}" class="back-link">スタンプ一覧へ戻る</a></div>
{% endblock redirect %}

{% block script %}
<script>
  {% if own_stamp %}
    const lat = {{ own_stamp.latitude }};
    const lng = {{ own_stamp.longitude }};
    const name = "{{ own_stamp }}";
  {% elif unknown_stamp %}
    const lat = {{ unknown_stamp.latitude }};
    const lng = {{ unknown_stamp.longitude }};
    const name = "{{ unknown_stamp }}";
    draw_image({{ unknown_stamp.id }}, "{{ unknown_stamp.stamp_image.url }}");
  {% endif %}

  console.log("lat,lng:", lat, lng);

  const map = L.map('detail-map').setView([lat, lng], 16);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; OpenStreetMap contributors'
  }).addTo(map);

  L.marker([lat, lng]).addTo(map).bindPopup(name).openPopup();

  setTimeout(() => {
    map.invalidateSize();
  }, 100);
</script>

{% endblock script %}
