{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/stamp_list.css' %}">
  <script src='{% static "js/draw.js" %}'></script>
  <script src='{% static "js/list.js" %}'></script>
{% endblock head %}

{% block content %}
<h1 class="page-title">スタンプ一覧</h1>

<div class="grid">
  {% for stamp in stamps %}
    <div class="cell">
      <div class="stamp-wrapper">
        {% if user in stamp.users.all %}
          <span class="got-badge">GOT</span>
          <a href='{% url "stamp_detail" stamp %}'>
            <img class="rsquare-img" src='{{ stamp.stamp_image.url }}'>
          </a>
        {% else %}
          <span class="unknown-badge">UNKNOWN</span>
          <a href='{% url "stamp_detail" stamp %}'>
            <canvas class="rsquare-img" id="canvas_{{ stamp.id }}"></canvas>
          </a>
        {% endif %}
        <div class="stamp-name">{{ stamp }}</div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="sort-button-container">
  <form>
    <button id="sort-button">昇順</button>
  </form>
</div>

{% endblock content %}

{% block redirect %}
<a href='{% url "home" %}'>ホーム</a>
{% endblock redirect %}

{% block script %}
<script>
  {% for stamp in stamps %}
    {% if not user in stamp.users.all %}
      draw_image({{ stamp.id }}, "{{ stamp.stamp_image.url }}")
    {% endif %}
  {% endfor %}
</script>
{% endblock script %}